<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");

        body {
            font-family: 'Rubik', sans-serif;
        }

        .container {
            display: flex;
            height: 89vh;
        }

        .left {
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
        }

        .parent {
            border-right: 2px solid #0097ff;
            border-left: 2px solid #4f46a5;
            ;
            width: 30%;
            margin-left: 33%;
            padding-left: 40px;
            margin-top: 2%;
        }

        .header>h1 {
            margin: 0;
            color: #4f46a5;
            margin-left: 33%;
        }

        .header>h4 {
            margin-top: 10px;
            font-weight: normal;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.4);
        }

        .form {
            max-width: 100%;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
        }

        .form>p {
            text-align: right;
        }

        .form>p>a {
            color: #000;
            font-size: 14px;
        }

        .form-field {
            height: 46px;
            padding: 0 16px;
            border: 2px solid #ddd;
            border-radius: 4px;
            font-family: 'Rubik', sans-serif;
            outline: 0;
            -webkit-transition: .2s;
            transition: .2s;
            margin-top: 20px;
        }

        .form-field:focus {
            border-color: #0f7ef1;
        }

        .form>button {
            padding: 12px 10px;
            border: 0;
            background: -webkit-gradient(linear, left top, right top, from(#de48b5), to(#0097ff));
            background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
            border-radius: 3px;
            margin-top: 10px;
            color: #fff;
            letter-spacing: 1px;
            font-family: 'Rubik', sans-serif;
        }
        .to-login{
            color: rgba(0, 0, 0, 0.8)
        }
      
    </style>
</head>

<body>
    <div class="parent">
        <div class="container">
            <div class="left">
                <div class="header">
                    <h1 class="animation a1">Register</h1>
                    <h4 class="animation a2">Create your own account using the following fields</h4>
                    <%- include('partial/messages') %>
                </div>
                <form action="/users/register" method="POST">
                <div class="form">
                    <input type="text" class="form-field " name="firstname" placeholder="First Name" value="<%= typeof firstname != 'undefined' ? firstname : '' %>">
                    <input type="text" class="form-field" name="lastname"  placeholder="Last Name" value="<%= typeof lastname != 'undefined' ? lastname : '' %>">
                    <input type="email" class="form-field"  name="email" placeholder="Email Address" value="<%= typeof email != 'undefined' ? email : '' %>">
                    <input type="password"  class="form-field" name="password1" placeholder="Password" value="<%= typeof password1 != 'undefined' ? password1 : '' %>">
                    <input type="password" class="form-field" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                    <p></p>
                    <button type="submit" class="animation ">Create Account</button>
                   <p class="to-login">Have an account? <a class="login" href="/users/login">Login</a></p>
                </div>
            </form>
            </div>
        </div>
    </div>

</body>
</html>