<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/admin/jobs.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="two-col-layout" id="two-col-layout">
        <div class="top-navbar">
            <nav class="navbar navbar-inverse navbar-fixed-top" id="top_nav">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a class="toggle-sidenav"><i class="fa fa-bars icon"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user icon" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <li class="fa fa-sign-out-alt"><a href="/users/logout"><i class="fa fa-power-off icon" style="color: #5fa5d3; font-size: 18px; margin-right: 5px;"></i>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="sidenav" id="sidenav">
            <div class="sidenav-items">
                <ul id="accordion">
                    <li class="panel"><br>
                        <h3>Administrator</h3>
                        <img src="/img/user-icon.png" alt="user-icon1" class="user-icon"><br><br>
                        <p class="user"><%= user.firstname + " " + user.lastname %></p><br>
                    </li>
                    <li><a href="/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion" href="/jobs">
                            <i class="fa fa-briefcase" aria-hidden="true"></i> Jobs
                        </a>
                    </li>
                    <li><a href="/createjob"><i class="fa fa-plus"></i> Create Job</a></li>
                    <li class="panel">
                        <a data-toggle="collapse" data-parent="#accordion" href="/applicants">
                            <i class="fa fa-users"></i> Applicants
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <section class="details-card">
                <div class="container1">
                    <div class="row">
                        <%for(i=0 ; i < job.length; i++) { %>
                        <div class="col-md-4">
                            <div class="card-content">
                                <div class="card-img">
                                    <img class="mb-3 img-fluid" src="<%= job[i].image %>" alt="" style="width: 275px; height: 190px;">
                                    <span><h4><%= job[i].status%></h4></span>
                                </div>
                                <div class="card-desc">
                                    <h3><%= job[i].jobTitle%></h3>
                                    <h4 class="text-success font-weight-bold">Salary: <%= job[i].salary%> </h4>
                                    <p><%= job[i].jobDescription%></p>
                                   
                                    <form action="/job/<%=job[i]._id %>/update">
                                      <button type="submit" class="btn btn-info"> Update</button>
                                    </form>
                                       <form action="/<%=job[i]._id %>" method="POST" class="remove">
                                        <button type="submit" class="btn btn-danger"> Remove</button>  
                                     </form>
                                </div>
                            </div>
                        </div>
                        <% }%>
                    </div>
                </div>
            </section>
        </div>
    </div>
        <!--jQuery-->
        <!-- Bootstrap JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
        <script src="/js/sidenav.js"></script>
</body>

</html>